*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34,45,195);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%;
    width: 100%;
}

#container{
    background-color: beige;
    padding: 18px;
    border-radius: 9px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.title{
    display: block;
    margin-top: 8px;
    margin-bottom: 18px;
    font-family: 'Courier New', Courier, monospace;
    
}
p{
    margin-top: 15px;
}